* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.container {
  /* Флекс для внутренних квадратов, в одну линию */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  flex-wrap: wrap;
}
.square {
  width: 16px;
  height: 16px;
  background: rgb(140, 140, 140);
  margin: 2px;
  box-shadow: 0 0 2px black;
  transition: 1.5s ease-in-out;
}
.square:hover{
  transition-duration: 0s;
}